header{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px  solid black;
  padding: 0px 0px 0px 0px;
}

header div h1{
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Position-Itens li a:hover {
  color: pink;
  text-decoration: underline;
}

header div{
  align-self: center;
  margin-left: 50px;
  margin-right: 50px;
}

.logo-principal{
  display: flex;
  width: 120px;
  height: 120px;
  margin-left: 50px;
}

.Position-Itens li a{
  text-decoration: none;
  text-transform: none;
  color: black;
  font-weight: bold;
  font-size: large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 10px;
}

.Position-Itens{
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-bottom: 2px dashed black;
}
footer{
  background-color: black;
}

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-style: italic;

  color: white;
}


.footer-img{
  height: 200px;
  width: 200px;
}

.zap:active{

}

.zap{
  width: 40px;
  height: 40px;
  /* margin-right: 10px; */
  
}

.insta:active{
  
}

.insta{
  width: 40px;
  height: 40px;
}

.contatos{
  display: flex;
  width: 160px;
  justify-content: end;
  flex-direction: row;
}

@media (max-width: 480px){
  .text-presentation{
    width: 100%;
  }
}

@media (max-width: 768px){
  .text-presentation{
    width: 100%;
  }
}

@media (max-width: 1024px){
  .text-presentation{
    width: 100%;
  }
}

@media (max-width: 1200px){
  .text-presentation{
    width: 100%;
  }
}