header{
  display: flex;
  justify-content: space-around;
  border-bottom: 2px  solid black;
  padding: 0px 0px 0px 0px;
}

header div h1{
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family:Verdana, Tahoma, sans-serif;
}

.Position-Itens:hover {
  color: darkred;
  text-decoration: underline;
}

header div{
  align-self: center;
  margin-right: 40px;
}

.logo-principal{
  display: flex;
  width: 120px;
  height: 120px;
}

.Position-Itens{
  display: flex;
  flex-direction: column;
  justify-items: end;
  font-weight: bold;
  font-size: large;
  text-decoration-color: black;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-bottom: 2px dashed black;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-style: italic;

  background-image: url(./img/footerlogo.png);
  background-color: black;
}

footer div p{
  color: white;
}

.footer-img{
  display: flex;
  height: 200px;
  width: 200px;
}

@media (max-width: 480px){
  .text-presentation{
    width: 100%;
  }
}

@media (max-width: 768px){
  .text-presentation{
    width: 100%;
  }
}

@media (max-width: 1024px){
  .text-presentation{
    width: 100%;
  }
}

@media (max-width: 1200px){
  .text-presentation{
    width: 100%;
  }
}